 *{
				padding: 0;
				margin: 0;
				list-style: none;
			}
			body{
				font-size: 16px;
				font-family: Malgun Gothic;
			}
			/*头部、一级导航*/
			.header{
				width: 100%;
				height: 55px;
				background: #303232;	
			}
			.header  .nav {
				width: 850px;
				height: 55px;	
				margin: 0 auto;	
				overflow: hidden;
			}
			.nav  .totleimg{
				width: 110px;
				height: 55px;
				float: left;
			}
			.nav  li{
				height: 19px;
				margin-left: 84px;
				color: #A7A7A7;
				font-size: 16px;
				font-family: sans-serif;
				float: left;
				position: relative;
				margin-top: 20px;
				cursor: pointer;
			}
			.nav  li:hover{
				color: #FFFFFF;			
			}
			.xinxi{
				width: 6px;
				height: 6px;
				border-radius: 50%;				
				background: #E85B53;
				position: absolute;
				top: 0;
				right: -5px;
				display: inline-block;
			}
			.arrowT{
				width: 6px;
				height: 4px;
				background: url(../../img/arrT.png) no-repeat center;
				position: absolute;
				bottom: -8px;
				left: 45%;
			}
	
			
			/* ***********************上传资料*******************************/
			.navtwo{
				width: 100%;
				height: 110px;
				background: #F2F2F2;	
				line-height: 110px;	
				overflow: hidden;		
			}
			.Info{
				width: 787px;
				height: 28px;
				line-height: 28px;
				margin: 44px auto 0;		
			} 
			.Info li{
				float: left;
			}
				.Info li:nth-child(1){
					color: rgba(49, 50, 50, 1);
					font-size: 20px;
					float: left;
					margin-right: 80px;
				}
				.Info li:nth-child(2){			  
					margin-right: 182px;
				}
				.Info li:nth-child(4){
					float: right;
					cursor: pointer;
					color: rgba(171, 170, 170, 1);
				}
				.plan{
					width: 787px;
					height: 28px;
					line-height: 28px;
					margin: 0 auto 45px;		
				}
				.plan p{
					color: rgba(120, 135, 157, 1);
					margin-right: 45px;
					float: left;
					letter-spacing: -2px;
				}
				.plan span{
					width: 68px;
					height: 28px;
					display: inline-block;
					float: right;
					cursor: pointer;
				}
			/*	 **********************日期显示框****************************/
				.data{
					width: 787px;
					height: 215px;
					margin: 0 auto;
					overflow: hidden;
					letter-spacing: -1px;
					margin-top: 50px;
				}
				.data p{
					height: 25px;
					color: rgba(141, 141, 141, 1);
					border-bottom: 1px solid #E6E6E6;
				}
				.data p span:nth-child(1){
					float: left;
				}
				.data p span:nth-child(2){
					float: right;
				}
				.dataword{
					margin-top:20px ;
				}
				.dataword p{
					color: #313232;
					line-height: 26px;
					border-bottom: none;	
				}
			/*	********************下载按钮******************/
				.xiazai{
					width: 787px;
					height: 37px;
					line-height: 34px;
					margin: 0 auto 17px;
					border-bottom: 1px solid #E6E6E6;
					letter-spacing: -1px;
				}
				.xiazai p{
					color: rgba(141, 141, 141, 1);
				
				}
				.xiazai p span:nth-child(1){
					float: left;
				}
				.xiazai p span:nth-child(2){
					width: 280px;
					float: right;
					background: url(../../img/xiazai.png) no-repeat center right;
					cursor: pointer;
				}
				/********************************轮播图1***************************************/
		img{ border:0;}
		.ban{ width:786px; height:680px; position:relative; overflow:hidden;margin:20px auto 60px auto;}
		.ban2{ width:786px; height:590px; position:relative; overflow:hidden;}
		.ban2 ul{ position:absolute; left:0; top:0;}
		.ban2 ul li{ width:786px; height:590px;}
		.prev{ float:left; cursor:pointer;}
		.num{ height:82px;overflow:hidden; width:725px; position:relative;float:left;}
		.min_pic{ padding-top:10px; width:786px;}
		.num ul{ position:absolute; left:0; top:0;}
		.num ul li{ width:97px; height:74px; margin-right:5px; padding:1px;}
		.num ul li.on{ border:1px solid red; padding:0;}
		.prev_btn1{ width:16px; text-align:center; height:18px; margin-top:40px; margin-right:20px; cursor:pointer; float:left;}
		.next_btn1{  width:16px; text-align:center; height:18px; margin-top:40px;cursor:pointer;float:right;}
		.prev1{ position:absolute; top:260px; left:10px; width:64px; height:64px;z-index:9;cursor:pointer;}
		.next1{ position:absolute; top:260px; right:10px; width:64px; height:64px;z-index:9;cursor:pointer;}
		.mhc{ background:#000; width:100%;opacity:0.5;-moz-opacity:0.5;filter:alpha(Opacity=50); position:absolute; left:0; top:0; display:none;}
		.pop_up{ width:786px; height:590px; padding:10px; background:#fff; position:fixed; -position:absolute; left:50%; top:50%; margin-left:-255px; margin-top:-255px; display:none; z-index:99;}
		.pop_up_xx{ width:40px; height:40px; position:absolute; top:-40px; right:0; cursor:pointer;}
		.pop_up2{ width:786px; height:590px; position:relative; overflow:hidden;}
		.pop_up2{ width:786px; height:590px; position:relative; overflow:hidden; float:left;}
		.pop_up2 ul{ position:absolute; left:0; top:0;}
		.pop_up2 ul li{ width:786px; height:590px; float:left;}	

 
    .allload{
    	width: 144px;
    	height: 38px;
    	margin: 0 auto 20px;
    	cursor: pointer;
    }
